Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/SpaceshipInterior/Maps/NoWayOut_BuiltData.uasset
Content/SpaceshipInterior/Maps/NoWayOut_BuiltData.uasset
